@font-face {
  font-family: "Poppins";
  src: url(https://fonts.google.com/specimen/Poppins);
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.google.com/specimen/Open + Sans);
  font-weight: 400, 700;
}

* {
  box-sizing: border-box;
}

.navfirstboxcss {
  background-image: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(193, 100%, 96%);
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 20px 50px 25px;
}

.huddle-icon {
  width: 150px;
  height: 25px;
}

.navbtn {
  width: 150px;
  height: 35px;
  border-radius: 18px;
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
}

.firstbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 60px 25px 25px;
}
.firstbox h1 {
  font-family: "Poppins";
  font-weight: 600;
}
.firstbox p {
  font-family: "Open Sans";
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}

.windowimg {
  width: 45%;
}

.firstbox2 {
  padding-left: 40px;
}

.firstboxbtn {
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  width: 180px;
  height: 35px;
  border-radius: 18px;
  border-color: hsl(322, 100%, 66%);
  font-family: "Open Sans";
  font-weight: 700;
}

.secondbox {
  display: grid;
  justify-content: center;
  padding: 20px 20px 30px 25px;
  width: 100%;
}

.together-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 30px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px;
  height: 90%;
}
.secondbox h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
}
.secondbox p {
  font-family: "Open Sans";
  font-weight: 400;
  color: hsl(208, 11%, 55%);
}

.together2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 15px 20px 20px;
}

.flowing-box {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 30px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px;
  height: 90%;
}

.flowing2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 50px;
  padding: 20px 15px 20px 25px;
}

.together-icon {
  width: 200px;
}
.flowing-icon {
  width: 200px;
}
.users-icon {
  width: 200px;
}

.users-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 20px 30px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px;
}
.users2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 15px 20px 20px;
}

.thirdbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px red;

  padding-bottom: 20px;
}

.thirdboxbtn {
  width: 180px;
  height: 45px;
  border-radius: 18px;
  color: #ffffff;
  background-color: hsl(322, 100%, 66%);
  border-color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 10px;
}

.fourthbox {
  background-color: hsl(192, 100%, 9%);
  color: hsl(208, 11%, 55%);
  padding-top: 200px;
}

.information1, .information2, .information3 {
  border: solid 2px red;
  display: flex;
  width: 22%; 
}

.information2 img, .information3 img, .information1 img{
  margin-top: 12px;
  margin-right: 10px;
}

.licontainer{
  border: solid 2px blue;
  flex-direction: column;
  column-count: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
